*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
p,
html,
body,
h1,
h4 {
    width: 100%;

    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none
}

/*font-family: 'Montserrat', sans-serif;*/
::-webkit-scrollbar {
    width: 6px;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #d0d0d2;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

img {
    width: 100%;
}

.outer_box {
    background: #F5F7FA;
    height: 100vh;
}

.top_header {
    display: flex;
    width: 100%;
    align-items: center;
    background: #fff;
    padding: 15px 30px;
    justify-content: space-between;
}

.info_sec {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
}

.sec_15 {
    margin: auto 15px;
    display: flex;
    align-items: center;
    height: 20;
    width: 20;
}

.dropdown {
    margin-right: 50px;
    cursor: pointer;
}

.dropbtn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #645CFA;
    border: 0;
    outline: 0;
    position: relative;
    color: #fff;
}

.down-arrow:after {
    content: "";
    width: 12px;
    height: 6px;
    background: url(../../assets/img/down-arrow.svg);
    background-repeat: no-repeat;
    top: 13px;
    right: -30px;
    position: absolute;
    display: inline-block;
}

.inner_sec {
    width: 100%;
    display: flex;
}

.left_sec {
    min-width: 20%;
    background: #fff;
    height: 91vh;
    padding: 20px;
    position: relative;
}

.middel_sec {
    min-width: 55%;
    margin: auto;
    padding: 10px 15px;
    overflow: auto;
    height: 91vh;
    background: #f5f7fa;
}

.middel_sec::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.middel_sec {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.right_sec {
    min-width: 25%;
    background: #fff;
    height: 90vh;
    padding: 20px;
    margin-top: 15px;
}

.tp60 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.w_box {
    width: 100%;
    float: left;
    position: relative;
}

.search-box {
    float: left;
    width: 100%;
    border: 1px solid #CFD1D3;
    border-radius: 6px;
    margin: auto;
    color: #7B7B7B;
    padding: 5px 35px 5px 10px;
    outline: 0;
    height: 40px;
}

.search-icon {
    width: 18px;
    height: 18px;
    background: url(../../assets/img/search-icon.svg) no-repeat;
    position: absolute;
    right: 10px;
    top: 30%;
    transition: transform .5s;
}

.menu_tap {
    position: relative;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    padding: 15px 0;
    border-left: 4px solid #fff;
}

.menu_tap_act {
    color: #7467F0;
}


.home {
    background: url(../../assets/img/home_grey.svg) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100%;
    margin-right: 5px;
    vertical-align: middle;
    display: table-cell;
}

.myhealth {
    background: url(../../assets/img/myhealth_grey.svg) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 100%;
    margin-right: 5px;
    vertical-align: middle;
    display: table-cell;
}

.resources {
    background: url(../../assets/img/Resources_grey.svg) no-repeat;
    width: 18px;
    height: 13px;
    background-size: 100%;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.account {
    background: url(../../assets/img/account_grey.svg) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 100%;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.contact {
    background: url(../../assets/img/contact_grey.svg) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 100%;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.logout {
    background: url(../../assets/img/logout_grey.svg) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 100%;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.home_blu,
.menu_tap:hover .home {
    background: url(../../assets/img/home_blu.svg) no-repeat;
    background-size: 100%;
}

.myhealth_blu,
.menu_tap:hover .myhealth {
    background: url(../../assets/img/myhealth_blu.svg) no-repeat;
    background-size: 100%;
}

.resources_blu,
.menu_tap:hover .resources {
    background: url(../../assets/img/resources_blu.svg) no-repeat;
    background-size: 100%;
}

.account_blu,
.menu_tap:hover .account {
    background: url(../../assets/img/account_blu.svg) no-repeat;
    background-size: 100%;
}

.contact_blu,
.menu_tap:hover .contact {
    background: url(../../assets/img/contact_blu.svg) no-repeat;
    background-size: 100%;
}

.logout_blu,
.menu_tap:hover .logout {
    background: url(../../assets/img/logout_blu.svg) no-repeat;
    background-size: 100%;
}

.absbtm {
    position: absolute;
    bottom: 0;
}

.menu_txt {
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
    color: #2E2E3A;
    font-size: 16px;
}

.menu_tap:hover .menu_txt,
.menu_tap_act .menu_txt {
    color: #645CFA;
}

.noti_box {
    background: #FFFFFF;
    border: 1px solid #9E3D95;
    padding: 10px 15px;
    border-radius: 6px;
    position: relative;
    margin-bottom: 20px;
}

.noti_box h4 {
    font-weight: 600;
    font-size: 14px;
    color: #2E2E3A;
    margin-bottom: 8px;
}

.noti_box p {
    font-weight: 400;
    color: #8A8A98;
    font-size: 12px;
}

.noti_box button {
    background: #9E3D95;
    border-radius: 6px;
    width: 161px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    color: #fff;
    outline: 0;
    padding: 10px 20px;
    border: 0;
    margin-top: 15px;
}

.close {
    background: url(../../assets/img/close.svg) no-repeat;
    width: 12px;
    height: 12px;
    background-size: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.score_box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
}

.score_box .box {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32%;
    padding: 16px;
    box-shadow: 0px 100px 80px rgba(208, 214, 232, 0.07), 0px 41.7776px 33.4221px rgba(208, 214, 232, 0.0503198), 0px 22.3363px 17.869px rgba(208, 214, 232, 0.0417275), 0px 12.5216px 10.0172px rgba(208, 214, 232, 0.035), 0px 6.6501px 5.32008px rgba(208, 214, 232, 0.0282725), 0px 2.76726px 2.21381px rgba(208, 214, 232, 0.0196802);
}

.score_box .box .score {}

.score_box .box h4 {
    font-weight: 600;
    color: #2E2E3A;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.score_box .box p {
    font-weight: 400;
    font-size: 12px;
    color: #8A8A98;
}


@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

.score div[role="progressbar"] {
    --size: 50px;
    --fg: #2E2E3A;
    --bg: #E2E2EA;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, white 85%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}

.score div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-weight: 800;
    font-size: 12.5px;
}

.pd15 {
    padding: 10px;
    position: relative;
}

.care_box,
.myteam_box {
    width: 100%;
    float: left;
}

.plan_box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px auto;
}

.plan_box .box h4 {
    font-size: 19px;
}

.plan_box .box {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32%;
    box-shadow: 0px 100px 80px rgba(208, 214, 232, 0.07), 0px 41.7776px 33.4221px rgba(208, 214, 232, 0.0503198), 0px 22.3363px 17.869px rgba(208, 214, 232, 0.0417275), 0px 12.5216px 10.0172px rgba(208, 214, 232, 0.035), 0px 6.6501px 5.32008px rgba(208, 214, 232, 0.0282725), 0px 2.76726px 2.21381px rgba(208, 214, 232, 0.0196802);
}

.tittle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.tittle h4 {
    font-size: 28px;
    font-weight: 500;
    font-family: Montserrat;
}

.care_box p span {
    margin-right: 10px;
}

.care_box p,
.plan_box p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    color: #5B5B5B;
}

.three_dot {
    background: url(../../assets/img/three_dot.svg) no-repeat;
    width: 4px;
    height: 16px;
    margin-right: 5px;
    background-size: 4px 16px;
}

.plan_box .algrt {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px auto;
}

.arrow-right {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    margin-right: 30px;
}

.arrow-right:after {
    content: "";
    width: 6px;
    height: 12px;
    background: url(../../assets/img/right_arrow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 4px;
    right: -22px;
    position: absolute;
    display: inline-block;
}

.connect {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.jobttl {
    position: absolute;
    top: -18px;
    background: #2E2E3A;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding: 4px 16px;
}

.lftsd {
    background: #2E2E3A;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 36px;
    border-bottom-left-radius: 8px;
}

.pdtp25 {
    padding: 10px;
    padding-top: 25px;
    position: relative;
}

.rgtsd {
    background: #F5F7FA;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 36px;
    border-bottom-right-radius: 8px;
}

.rgtsd img,
.lftsd img,
.tab img {
    width: 18px;
    height: 18px;
}

.tab span {
    margin-left: 10px;
}

.actvtab {
    border-bottom: 3px solid #5B5B5B;
    margin-bottom: -2px;
}

.wnotibell {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #C6CBD9;
    margin-bottom: 15px;
}

.wnotibell .tab {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    padding: 15px;
}

.inner_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.inner_box h4 {
    font-size: 19px;
    font-weight: 500;
    margin: 15px auto;
    display: flex;
}

.notification {
    overflow: auto;
    height: 75vh;
    padding-right: 10px;
}

.noti_card {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px auto;
}

.utyp {
    width: 40px;
    height: 40px;
    font-size: 14px;
    background: #5B5B5B;
    font-weight: 700;
    display: flex;
    color: #FFFFFF;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.smsdtl {
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
}

.noti_text {
    font-size: 12px;
    font-weight: 700;
    color: #263238;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.time {
    color: #645CFA;
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
}

.status {
    width: 10px;
    height: 10px;
    background: #5B5B5B;
    border-radius: 50px;
}

.menu_icon {
    display: none;
}

.custom-ic{
    margin: auto 10px;
    display: flex;
    align-items: center;
}

.custom-ic-img{
    margin: auto 10px;
    height: 24;
    width: 24;
}


@media only screen and (min-width: 150px) and (max-width: 850px) {
    .outer_box {
        background: #F5F7FA;
        height: 100%;
        position: relative;
    }

    .tp60 {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .left_sec {
        min-width: 20%;
        background: #fff;
        height: 100vh;
        padding: 20px;
        position: absolute;
        display: none;
        z-index: 9;
        left: 0;
    }

    .score_box .box p {
        font-weight: 400;
        font-size: 10px;
        color: #8A8A98;
    }

    .score_box .box h4 {
        font-weight: 600;
        color: #2E2E3A;
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .score div[role="progressbar"] {
        --size: 40px;
        --fg: #2E2E3A;
        --bg: #E2E2EA;
        --pgPercentage: var(--value);
        animation: growProgressBar 3s 1 forwards;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        display: grid;
        place-items: center;
        background: radial-gradient(closest-side, white 85%, transparent 0 99.9%, white 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
        font-size: calc(var(--size) / 5);
        color: var(--fg);
    }

    .score div[role="progressbar"]::before {
        counter-reset: percentage var(--value);
        content: counter(percentage) '%';
        font-weight: 800;
        font-size: 9.5px;
    }

    .tittle h4 {
        font-size: 22px;
        font-weight: 500;
        font-family: Montserrat;
    }

    .care_box p,
    .plan_box p {
        font-size: 11px;
        font-weight: 400;
        margin-top: 10px;
        color: #5B5B5B;
    }

    .care_box p,
    .plan_box p {
        font-size: 11px;
        font-weight: 400;
        margin-top: 5px;
        display: flex;
        color: #5B5B5B;
        flex-direction: column;
    }

    .care_box p span {
        margin: 0;
        margin-top: 5px;
    }

    .scroll_box {
        width: 100%;
        position: relative;
        overflow: auto;
    }

    .plan_box {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 20px auto;
        margin-bottom: 0px;
        width: 580px;
    }

    .scroll_box::-webkit-scrollbar {
        display: none;
    }

    .top_header {
        display: flex;
        width: 100%;
        align-items: center;
        background: #fff;
        padding: 15px;
        z-index: 9;
        position: relative;
        justify-content: unset;
    }
    .logo_head{
        float: left;
        width: 100%;
    }
    .logo_sec {
        width: 25%;
        margin-left: 15px;
    }

    .logo_sec_custom {
        width: 50%;
        margin-left: 15px;
    }

    .info_sec {
        display: flex;
        align-items: center;
        width: auto;
        justify-content: space-between;
        margin-left: auto;
    }

    .sec_15 {
        margin: auto 10px;
        display: flex;
        align-items: center;
        width: auto;
        height: 20;
        /* width: 20; */
    }

    .dropdown {
        margin-right: 20px;
        cursor: pointer;
    }

    .down-arrow:after {
        content: "";
        width: 12px;
        height: 6px;
        background: url(../../assets/img/down-arrow.svg);
        background-repeat: no-repeat;
        top: 13px;
        right: -20px;
        position: absolute;
        display: inline-block;
    }

    .right_sec {
        min-width: 25%;
        background: #fff;
        height: 91vh;
        padding: 15px;
        display: none;
        right: 0;
        margin-top: 0;
        position: absolute;
        z-index: 9;
    }

    .wnotibell {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #C6CBD9;
        margin-bottom: 0;
    }

    .mob_opcity {
        background: #0000008a;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        display: none;
        height: 100%;
    }

    .menu_icon {
        display: inline-block;
        cursor: pointer;
    }

    .menu_bar1,
    .menu_bar2,
    .menu_bar3 {
        width: 26px;
        height: 2px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .menu_bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .menu_bar2 {
        opacity: 0;
    }

    .change .menu_bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-5px, -3px);
    }






}